[submodule "psm_encryptor"]
	path = psm_encryptor
	url = https://github.com/OpenPSS/psm_encryptor.git
[submodule "subprojects/LibCXML"]
	path = subprojects/LibCXML
	url = https://github.com/OpenPSS/LibCXML.git
[submodule "subprojects/psm_encryptor"]
	path = subprojects/psm_encryptor
	url = https://github.com/OpenPSS/psm_encryptor.git
